@{
    ViewData["Title"] = "About";//JSS - added the key, valor
}
<h2>@ViewData["Title"]</h2><!--JSS - uses the value by key that was added above -->
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>Teacher @ViewData["Teacher"]</p>
